body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #111;
  color: white;
}

.box input {
  padding: 10px;
  font-size: 18px;
}

.stars {
  background: black;
  background-image:
    radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
}

#countdown {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 120px;
  color: white;
}

#friend {
  max-width: 220px;     /* 👈 chỉnh số này */
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

#letterBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 18px;
}

#envelope {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.letter {
  background: white;
  margin: 10% auto;
  padding: 30px;
  width: 70%;
  animation: open 1s forwards;
}

@keyframes open {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
#friend {
  display: block !important;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 180px !important;
  height: auto !important;
  max-width: 180px !important;

  border-radius: 16px;
  object-fit: cover;
  z-index: 9999;
}

